@font-face {
  font-family: 'Effra';
  font-weight: bold;
  font-style: normal;
  src: url('./fonts/Effra_Std_Bd.ttf');
}

@font-face {
  font-family: 'GoodDogDP';
  font-style: normal;
  src: url('./fonts/GOODDP__.TTF');
}

@font-face {
  font-family: 'Effra';
  font-style: normal;
  font-weight: normal;
  src: local('Effra'), url('./fonts/Effra_Std_Rg.woff') format('woff');
}

:root {
  --primary-color: #45EDA1;
  --background: #000000;
  --green-2: #87D322;
  --button-hover: #8CC83A;
  --black: #000000;
  --black-2: #2B2B2B;
  --grey-1: #8B8B8B;
  --grey-2: #ADADAD;
  --grey-3: #F5F5F5;
  --grey-4: #F1F1F1;
  --off-white: #FFFFFF;

  --font-family: 'Effra';
  --cursive-font: 'GoodDogDP';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 87.5%;
  font-family: var(--font-family);
}



/* General Styles */
.btn {
  background-color: var(--grey-1);
  border: none;
  padding: 16px 32px;
  color: var(--black);
  border-radius: 40px;
  font-size: 1rem;
  max-width: fit-content;
  white-space: nowrap;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--green-2);
}

.btn--dark {
  background-color: var(--black);
  color: var(--off-white);
}

.btn--block {
  min-width: 100%;
}

.pointer {
  color: var(--off-white);
  min-width: 90px;
  max-width: 90px;
  rotate: 6deg;
  display: flex;
  flex-direction: column;
}

.pointer .pointer__text {
  font-size: 14px;
  text-align: center;
  font-family: var(--cursive-font);
  order: 1;
}

.pointer .pointer__img {
  width: 24px;
  rotate: 100deg;
  order: 1;
}

.pointer--right .pointer__img {
  width: 24px;
  rotate: -80deg;
  margin-left: 45px;
  order: 0
}

.pointer--left-up .pointer__img {
  width: 24px;
  rotate: 80deg;
  transform: scale(-1, 1);
  order: 0;
}

.main__title {
  color: var(--black);
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.main__title--grey {
  color: var(--grey-3);
}

@media screen and (max-width: 700px) {
  .main__title {
    font-size: 2.6rem;
  }
}

/* ==== End of General Styles */

/* Navigation */
.nav {
  background-color: var(--background);
  color: var(--off-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 80px;
}

.nav--light {
  background-color: var(--off-white);
}

.nav .nav__list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav .nav__brand img {
  height: 32px;
}

.nav .nav__brand .mobile,
.nav .nav__hamburger {
  display: none;
}

.nav .nav__list .nav__listitem {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1rem;
}

.nav .nav__list .nav__listitem a {
  color: var(--off-white);
  text-decoration: none;
}

.nav--light .nav__list .nav__listitem a {
  color: var(--black);
}

.nav .nav__list .nav__listitem a:hover {
  color: var(--green-2)
}

.nav .nav__list .nav__listitem--btn {
  background-color: var(--off-white);
  padding: 12px 32px;
  border-radius: 40px;
}

.nav .nav__list .nav__listitem--btn a {
  color: var(--black);
}

.nav .nav__list .nav__listitem--btn:hover {
  background-color: var(--green-2);
}

.nav .nav__list .nav__listitem--btn:hover a {
  color: var(--off-white);
}

/* MOBILE */
@media screen and (max-width: 700px) {
  .nav {
    padding: 24px 18px;
    position: absolute;
    width: 100%;
    z-index: 10;
  }

  .nav .nav__hamburger {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .nav .nav__hamburger .lines {
    background-color: var(--off-white);
    display: block;
    width: 80%;
    height: 2px;
    position: absolute;
    transition: 0.3s all;
  }


  .nav .nav__hamburger .lines:first-child {
    transform: translateY(-4px) rotate(0deg);
  }

  .nav .nav__hamburger .lines:last-child {
    transform: translateY(4px) rotate(0deg);
  }

  .nav .nav__hamburger--active .lines:first-child {
    transform: rotate(45deg);
  }

  .nav .nav__hamburger--active .lines:last-child {
    transform: rotate(-45deg);
  }

  .nav,
  .nav__list {
    flex-direction: column;
  }

  .nav__list {
    transition: .5s all;
  }

  .nav .nav__listitem {
    padding: 20px 0;
  }

  .nav .nav__brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .nav .nav__brand .mobile,
  .nav .nav__hamburger {
    display: flex;
  }

  .nav .nav__brand .desktop {
    display: none;
  }

  .nav .nav__list {
    display: none;
  }

  header {
    height: max-content;
    padding-bottom: 80px;
  }

}

/* ==== End Navigation */

/* Hero Section */

.hero {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
}

.hero .hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .hero__title {
  color: var(--off-white);
  text-align: center;
}

.hero .hero__description {
  color: var(--grey-1);
  text-align: center;
  padding-top: 24px;
  padding-bottom: 40px;
  line-height: 1.5;
  font-size: 1rem;
}

.hero__box {
  width: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
}

.hero__box .pointer {
  position: absolute;
  left: calc(100% + 18px);
}

.hero .hero__socialmedia {
  margin-top: 90px;
  display: inline-flex;
  flex-direction: row-reverse;
}

.hero .hero__socialmedia img {
  height: 90px;
}

.hero .hero__socialmedia img:not(:last-child) {
  margin-left: -90px;
}

.hero .hero__socialmedia img:nth-child(odd) {
  margin-bottom: 60px;
  rotate: 3deg;
  position: relative;
  bottom: -48px;
}

.hero .hero__socialmedia img:nth-child(even) {
  rotate: -3deg;
}

@media screen and (max-width: 700px) {
  .hero__box .pointer {
    display: none;
  }

  .hero .hero__socialmedia {
    flex-direction: column-reverse;
    align-items: center;
  }

  .hero .hero__socialmedia img:not(:last-child) {
    margin-left: 0;
  }

  .hero .hero__socialmedia img:nth-child(odd), 
  .hero .hero__socialmedia img  {
    margin-bottom: 0;
    position: static;
  }
}

/* ==== End of Hero Section */

/* NewTabs Section */

.newtabs {
  padding: 140px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--green-2);
}

.newtabs .newtabs__title {
  margin-bottom: 60px;
}

.newtabs .newtabs__content {
  background-color: var(--off-white);
  padding: 60px 80px;
  border-radius: 16px;
}

.newtabs .newtabs__content img {
  height: 82px;
}

.newtabs .newtabs_box {
  display: flex;
  position: relative;
}

.newtabs .newtabs_box .pointer {
  color: var(--black);
  position: absolute;
  top: 30%;
}

.newtabs .newtabs_box .pointer:first-child {
  right: calc(100% + 12px);
}

.newtabs .newtabs_box .pointer:last-child {
  left: calc(100% + 24px);
}


.newtabs .newtabs__info {
  max-width: 700px;
  text-align: center;
  margin-top: 60px;
}

@media screen and (max-width: 700px) {
  .newtabs {
    padding: 80px 14px;
  }

  .newtabs .newtabs__content img {
    height: 70px;
  }

  .newtabs .newtabs__content {
    padding: 24px;
    border-radius: 14px;
  }

  .newtabs_box .pointer {
    display: none;
  }

  .newtabs .newtabs__info {
    max-width: 290px;
  }
}

/* ==== End of Newtabs section */

/* Text Section */
.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 140px;
}

.texts .texts__title {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
  align-self: flex-start;
  text-align: left;
}

.texts .texts__title--light {
  color: var(--grey-2);
}

@media screen and (max-width: 700px) {
  .texts {
    padding: 80px 18px;
  }
}

/* ==== End of Brands Section */

/* Partners Section */
.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 140px;
}

.partners .partners__title {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.partners .partners_logos {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  padding-top: 80px;
}


@media screen and (max-width: 700px) {
  .partners {
    padding: 80px 18px;
  }

  .partners .partners_logos {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    padding-top: 32;
  }
  
}

/* ==== End of Partners Section */

/* Platforms Section */
.platforms {
  padding: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.platforms .platforms__title {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

.platforms .platforms__tab {
  display: flex;
  margin-bottom: 60px;
  width: 100%;
  overflow-x: scroll;
  flex-wrap: nowrap;
}

.platforms__tab .platforms__tablink {
  text-decoration: none;
  /* width: 124px;
  height: 124px; */
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--off-white);
  border-radius: 12px;
}

.platforms__tab .platforms__tablink:not(:last-child) {
  margin-right: 24px;
}


.platforms__tab .platforms__tablink:hover {
  cursor: pointer;
  background-color: var(--green-2);
}

.platforms__tab .platforms__tablink--active {
  background-color: var(--green-2);
}

.platforms__tab .platforms__tabicon {
  width: 60px;
  height: 60px;
}

.platforms .platforms__tweet {
  width: 600px;
  margin-bottom: 32px;
}

@media screen and (max-width: 700px) {
  .platforms {
    padding: 80px 18px;
  }
  
  .platforms .platforms__tab {
    margin-bottom: 32px;
  }

  .platforms__tab .platforms__tablink {
    width: 64px;
    height: 64px;
  }

  .platforms__tab .platforms__tabicon {
    width: 32px;
    height: 32px;
  }

  .platforms__tab .platforms__tablink--active {
    border-radius: 8px;
  }

  .platforms .platforms__tweet {
    width: 100%;
    margin-bottom: 16px;
  }

}

/* Pricing Section */
.pricing {
  padding: 140px;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pricing .pricing__heading {
  color: var(--off-white);
  text-align: center;
  margin-bottom: 32px;
}

.pricing .pricing__toggle {
  display: flex;
  align-items: center;
}

.pricing .pricing__checkbox {
  visibility: hidden;
}

.pricing .pricing__checkbox__label {
  width: 104px;
  height: 52px;
  background-color: var(--off-white);
  margin: 0 24px;
  border-radius: 99px;
  padding: 8px;
  cursor: pointer;
}

.pricing .pricing__checkbox__label::before {
  content: "";
  display: block;
  background-color: var(--grey-2);
  width: 36px;
  height: 36px;
  border-radius: 18px;
  transition: .5s all;
}

.pricing__checkbox:checked~.pricing__checkbox__label::before {
  background-color: var(--green-2);
  margin-left: 52px;
}

.pricing__toggle {
  position: relative;
}

.pricing__toggle .pricing__text {
  color: var(--grey-1);
  font-size: 18px;
}

.pricing__toggle .pricing__text--active {
  color: var(--off-white);
}

/* To be replaced with JS */
.pricing__checkbox:checked~.p_monthly {
  color: var(--grey-2);
}

.pricing__checkbox:checked~.p_yearly {
  color: var(--off-white);
}

.pricing__checkbox:not(:checked)~.p_monthly {
  color: var(--off-white);
}

.pricing__checkbox:not(:checked)~.p_yearly {
  color: var(--grey-2);
}

@media screen and (max-width: 700px) {
  .pricing {
    padding: 80px 18px;
  }

  .pricing__toggle {
    position: relative;
    margin-bottom: 80px;
  }

  .pricing__toggle .pointer.desktop {
    display: none;
  }

  .pricing .pricing__toggle .pointer {
    left: 75%;
    top: 80%;
  }
}

/* ==== Ends here */

.pricing .pointer {
  position: absolute;
  left: calc(100% + 24px);
}

.pricing__box {
  display: flex;
  padding: 32px 0;
}

.pricing__card {
  background-color: var(--off-white);
  padding: 32px;
  border-radius: 16px;
  display: flex;
  min-width: 300px;
  flex-direction: column;
  margin: 0 20px;
}

.pricing__card--active {
  background-color: var(--green-2);
}

.pricing__card .pricing__title {
  font-size: 36px;
}

.pricing__card .pricing__subtitle {
  /* font-size: 14px; */
}

.pricing__card .pricing__divider {
  margin: 32px 0;
  height: 1px;
  border-top: 0;
  border-color: var(--grey-2);
}

.pricing .pricing__cost {
  margin-bottom: 24px;
}

.pricing .pricing__amount {
  font-size: 2.5rem;
}

.pricing .pricing__perks {
  margin-bottom: 32px;
}

.pricing .pricing__perks li {
  list-style: none;
  margin-bottom: 12px;
}

.pricing .pricing__perks li::before {
  content: "✓";
  margin-right: 8px;
}

.pricing__card .pricing_btn {
  margin-top: auto;
  cursor: pointer;
}

/* ==== End of Platforms Section */

/* Newsletter Section */
.newsletter {
  padding: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--green-2);
}

/* ==== End of Newsletter */

/* Footer Section */

/* ==== End of Footer Section */