@font-face {
  font-family: 'Effra';
  font-weight: bold;
  font-style: normal;
  src: url('./fonts/Effra_Std_Bd.ttf');
}

@font-face {
  font-family: 'GoodDogDP';
  font-style: normal;
  src: url('./fonts/GOODDP__.TTF');
}

@font-face {
  font-family: 'Effra';
  font-style: normal;
  font-weight: normal;
  src: local('Effra'), url('./fonts/Effra_Std_Rg.woff') format('woff');
 }

:root {
  --primary-color: #45EDA1;
  --background: #000000;
  --green-2: #87D322;
  --button-hover: #8CC83A;
  --black: #000000;
  --black-2: #2B2B2B;
  --grey-1: #8B8B8B;
  --grey-2: #ADADAD;
  --grey-3: #F5F5F5;
  --grey-4: #F1F1F1;
  --off-white: #FFFFFF;

  --font-family: 'Effra';
  --cursive-font: 'GoodDogDP';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 112.5%;
  font-family: var(--font-family);
}



/* General Styles */
.btn {
  background-color: var(--grey-1);
  border: none;
  padding: 16px 32px;
  color: var(--black);
  border-radius: 40px;
  font-size: 1rem;
  max-width: fit-content;
  white-space: nowrap;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--green-2);
}

.btn--dark {
  background-color: var(--black);
  color: var(--off-white);
}

.btn--block {
  min-width: 100%;
}

.pointer {
  color: var(--off-white);
  min-width: 90px;
  max-width: 90px;
  rotate: 6deg;
  display: flex;
  flex-direction: column;
}

.pointer .pointer__text {
  font-size: 14px;
  text-align: center;
  font-family: var(--cursive-font);
  order: 1;
}

.pointer .pointer__img {
  width: 24px;
  rotate: 100deg;
  order: 1;
}

.pointer--right .pointer__img {
  width: 24px;
  rotate: -80deg;
  margin-left: 45px;
  order: 0
}

.main_tittle {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.main_tittle--grey {
  color: var(--grey-3);
}

/* End of General Styles */

/* Navigation */
.nav {
  background-color: var(--background);
  color: var(--off-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 80px;
}

.nav .nav__list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav .nav__brand img {
  height: 32px;
}

.nav .nav__list .nav__listitem {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1rem;
}

.nav .nav__list .nav__listitem a {
  color: var(--off-white);
  text-decoration: none;
}

.nav .nav__list .nav__listitem a:hover {
  color: var(--green-2)
}

.nav .nav__list .nav__listitem--btn {
  background-color: var(--off-white);
  padding: 12px 32px;
  border-radius: 40px;
}

.nav .nav__list .nav__listitem--btn a {
  color: var(--black);
}

.nav .nav__list .nav__listitem--btn:hover {
  background-color: var(--green-2);
}

.nav .nav__list .nav__listitem--btn:hover a {
  color: var(--off-white);
}


/* End Navigation */

/* Hero Section */

.hero {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
}

.hero .hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .hero__title {
  color: var(--off-white);
  font-size: 4rem;
  text-align: center;
}

.hero .hero__description {
  color: var(--grey-1);
  text-align: center;
  padding-top: 24px;
  padding-bottom: 40px;
  line-height: 1.5;
  font-size: 1rem;
}

.hero__box {
  width: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
}

.hero__box .pointer {
  position: absolute;
  left: calc(100% + 18px);
}

.hero .hero__socialmedia {
  margin-top: 90px;
  display: inline-flex;
  flex-direction: row-reverse;
}

.hero .hero__socialmedia img {
  height: 90px;
}

.hero .hero__socialmedia img:not(:last-child) {
  margin-left: -90px;
}

.hero .hero__socialmedia img:nth-child(odd) {
  margin-bottom: 60px;
  rotate: 4deg;
  position: relative;
  bottom: -48px;
}

.hero .hero__socialmedia img:nth-child(even) {
  rotate: -4deg;
}

/* End of Hero Section */

/* NewTabs Section */

.newtabs {
  padding: 140px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--green-2);
}

.newtabs .newtabs__title {
  font-size: 4rem;
  margin-bottom: 60px;
}

.newtabs .newtabs__content {
  background-color: var(--off-white);
  padding: 60px 80px;
  border-radius: 16px;
}

.newtabs .newtabs__content img {
  height: 82px;
}

.newtabs .newtabs_box {
  display: flex;
  position: relative;
}

.newtabs .newtabs_box .pointer {
  color: var(--black);
  position: absolute;
  top: 30%;
}

.newtabs .newtabs_box .pointer:first-child {
  right: calc(100% + 12px);
}

.newtabs .newtabs_box .pointer:last-child {
  left: calc(100% + 24px);
}


.newtabs .newtabs__info {
  max-width: 700px;
  text-align: center;
  margin-top: 60px;
}

/* End of Newtabs section */

/* Text Section */
.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px;
}

.texts .texts__title {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
  align-self: flex-start;
  text-align: left;
}

.texts .texts__title--light {
  color: var(--grey-2);
}

/* End of Brands Section */

/* Partners Section */
.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 140px;
}

.partners .partners__title {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.partners .partners__imgs {
  width: 100%;
  margin-top: 80px;
}

/* End of Partners Section */

/* Platforms Section */
.platforms {
  padding: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.platforms .platforms__title {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

.platforms .platforms__tab {
  display: flex;
  margin-bottom: 60px;
}

.platforms__tab .platforms__tablink {
  text-decoration: none;
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.platforms__tab .platforms__tablink:hover {
  cursor: pointer;
  background-color: var(--grey-3);
}

.platforms__tab .platforms__tablink--active {
  background-color: var(--green-2);
}

.platforms__tab .platforms__tabicon {
  height: 32px;
}

.platforms .platforms__tweet {
  width: 600px;
  margin-bottom: 32px;
}

/* Pricing Section */
.pricing {
  padding: 140px;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pricing .pricing__heading {
  color: var(--off-white);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
}

.pricing .pricing__toggle {
  display: flex;
  align-items: center;
}

.pricing .pricing__checkbox {
  margin: 0 24px;
}

.pricing__toggle {
  position: relative;
}

.pricing__toggle .pricing__text {
  color: var(--grey-1);
}

.pricing__toggle .pricing__text--active {
  color: var(--off-white);
}

.pricing .pointer {
  position: absolute;
  left: calc(100% + 24px);
}

.pricing__box {
  display: flex;
  padding: 32px 0;
}

.pricing__card {
  background-color: var(--off-white);
  padding: 32px;
  border-radius: 16px;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.pricing__card--active {
  background-color: var(--green-2);
}

.pricing__card .pricing__title {
  font-size: 36px;
}

.pricing__card .pricing__divider {
  margin: 32px 0;
  height: 1px;
  border-top: 0;
  border-color: var(--grey-2);
}

.pricing .pricing__cost {
  margin-bottom: 24px;
}

.pricing .pricing__amount {
  font-size: 2.5rem;
}

.pricing .pricing__perks {
  margin-bottom: 32px;
}

.pricing .pricing__perks li {
  list-style: none;
  margin-bottom: 12px;
}

.pricing .pricing__perks li::before {
  content: "✓";
  margin-right: 8px;
}
.pricing__card .pricing_btn {
  margin-top: auto;
  cursor: pointer;
}

/* End of Platforms Section */

/* Newsletter Section */
.newsletter {
  padding: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--green-2);
}
